
venv/
ENV/
.env
.venv/
*.pyc
__pycache__/
*.pyo
*.pyd


logs/
*.log
tmp/
*.tmp
*.swp


pip-log.txt
pip-delete-this-directory.txt


docker-compose.override.yml
*.pid
*.sock
*.log
*.db


migrations/flyway_schema_history


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


.env
*.key
*.pem
